@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("/fonts/BebasNeue-Regular.woff") format("woff"),
    url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Regular.woff2") format("woff2"),
    url("/fonts/InstrumentSerif-Regular.woff") format("woff"),
    url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Italic.woff2") format("woff2"),
    url("/fonts/InstrumentSerif-Italic.woff") format("woff"),
    url("/fonts/InstrumentSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Allison-Regular";
  src: url("/fonts/Allison-Regular.woff2") format("woff2"),
    url("/fonts/Allison-Regular.woff") format("woff"),
    url("/fonts/Allison-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #d17f04;
  --color-text: #0e0d0d;
  --color-bg: #cecac5;
  --color-bgsecondary: #c9c6c0;
  --width-container: 80%;
  --font-title: "BebasNeue", system-ui, sans-serif;
  --font-text: "Instrument Serif", Georgia, serif;
  --font-style: "Allison-Regular", cursive;
}

.darkmode {
  --color-primary: #8d9923;
  --color-text: #c9c7c1ad;
  --color-bg: #201f1f;
  --color-bgsecondary: #464b18;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-bg);
  font-family: var(--font-text);
}
@view-transition {
  navigation: auto;
}
::view-transition-group(*) {
  animation-duration: 0.2s;
}
html {
  overflow-y: scroll;
}
