@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("/fonts/BebasNeue-Regular.woff") format("woff"),
    url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Regular.woff2") format("woff2"),
    url("/fonts/InstrumentSerif-Regular.woff") format("woff"),
    url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Italic.woff2") format("woff2"),
    url("/fonts/InstrumentSerif-Italic.woff") format("woff"),
    url("/fonts/InstrumentSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Allison-Regular";
  src: url("/fonts/Allison-Regular.woff2") format("woff2"),
    url("/fonts/Allison-Regular.woff") format("woff"),
    url("/fonts/Allison-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #6a4001;
  --color-text: #0e0d0d;
  --color-bg: #f1ede9;
  --color-bgsecondary: #e6e5e4;
  --width-container: 100%;
  --font-title: "BebasNeue", system-ui, sans-serif;
  --font-text: "Instrument Serif", Georgia, serif;
  --font-style: "Allison-Regular", cursive;
}

.darkmode {
  --color-primary: #fbde00;
  --color-text: #ebe4e4;
  --color-bg: #0f0f0f;
  --color-bgsecondary: #292928bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-bg);
  font-family: var(--font-text);
}
@view-transition {
  navigation: auto;
}
::view-transition-group(*) {
  animation-duration: 0.2s;
}
html {
  overflow-y: scroll;
}
