  @font-face {
    font-family: "BebasNeue";
    src:
      url("/fonts/BebasNeue-Regular.woff") format("woff"),
      url("/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Instrument Serif";
    src:
      url("/fonts/InstrumentSerif-Regular.woff") format("woff"),
      url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Instrument Serif";
    src:
      url("/fonts/InstrumentSerif-Italic.woff") format("woff"),
      url("/fonts/InstrumentSerif-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Lavishly Yours";
    src:
      url("/fonts/LavishlyYours-Regular.woff") format("woff"),
      url("/fonts/LavishlyYours-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  :root {
    --color-primary: #d17f04;      /* Color principal/naranja */
    --color-text: #0e0d0d;         /* Color de texto principal */
    --color-bg: #cecac5;
    --color-bgsecondary: #c9c6c0;
    --width-container: 80%;
  }

  @view-transition {
    navigation: auto;
  }

  ::view-transition-group(*) {
    animation-duration: 0.1s;
  }
