---
import "../styles/global.css";
---

<nav class="navbar-container" id="navbar">
  <div class="navbar-content">
    <div class="logo-container">
      <a href="/" class="logo">PS</a>
    </div>
    <ul class="links-container">
      <li><a href="/about/" class="link-item">About</a></li>
      <li><a href="/blog/" class="link-item">Blog</a></li>
      <li><a href="/projects/" class="link-item">Projects</a></li>
    </ul>
  </div>
</nav>

<script>
  window.addEventListener('scroll', () => {
    const navbar = document.getElementById('navbar');
    if (navbar) {
      if (window.scrollY > 2) {
        navbar.classList.add('scrolled');
      } else {
        navbar.classList.remove('scrolled');
      }
    }
  });
</script>

<style>
  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-bgprimary);
    transition: all 0.3s ease;
  }

  .navbar-container.scrolled {
    background-color: var(--color-bgprimary);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1.3rem;
    width: var(--width-container);
    max-width: 1200px;
    margin: 0 auto;
    font-family: "BebasNeue", sans-serif;
  }
  .logo-container {
    font-size: 2rem;
    font-weight: bold;
  }
  .logo {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 2.9rem;
  }
  .links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;

    gap: 2rem;
  }
  .link-item {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  .link-item:hover {
    color: var(--color-primary);
  }
</style>
