---
import "../styles/global.css";
---

<section class="section-container">
  <div class="section-content">
    <h2>Frotend Development</h2>
    <p>
      Clean, modular, and speed-optimized code. Expert in React/Astro and
      responsive design for a flawless experience on any device.
    </p>
  </div>
  <div class="bar-column"></div>
  <div class="section-content">
    <h2>UI/UX Strategy</h2>
    <p>
      User-centered design. I transform business logic into intuitive interfaces
      that reduce friction and increase user retention.
    </p>
  </div>
  <div class="bar-column"></div>
  <div class="section-content">
    <h2>Astro</h2>
    <p>
      Rebuilding websites with Astro.js for better performance and user
      experience — optimizing loading and response times.
    </p>
  </div>
</section>

<style>
  .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.3rem;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 4rem;
  }
  .bar-column {
    width: 1px;
    background-color: #d17f04;
    height: 150px;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-content h2 {
    font-family: "BebasNeue", sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    font-weight: 300;
  }
  .section-content p {
    font-family: "Instrument Serif", sans-serif;
    font-size: 1.2rem;
    opacity: 0.4;
  }
</style>
