---
import "../styles/global.css";
---

<section class="skill-section">
  <div class="section-content">
    <h2>Frontend Development</h2>
    <p>
      Clean, modular, and speed-optimized code. Expert in HTML, CSS, JavaScript
      and responsive design for a flawless experience on any device.
    </p>
  </div>
  <div class="bar-column"></div>
  <div class="section-content">
    <h2>Python</h2>
    <p>
      Knowledge of Python, experience with the pandas library, automation, and
      web scraping.
    </p>
  </div>
  <div class="bar-column"></div>
  <div class="section-content">
    <h2>Libraries</h2>
    <p>
      Beginner in using libraries such as React, to create dynamic and
      responsive user interfaces.
    </p>
  </div>
</section>

<style>
  .skill-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.2rem 1.3rem;
    width: var(--width-container);
    max-width: 1200px;
    margin: 1rem auto;
    gap: 2rem;
  }
  .bar-column {
    width: 1px;
    background-color: var(--color-primary);
    height: 110px;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30%;
  }
  .section-content h2 {
    font-family: var(--font-title);
    color: var(--color-text);
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 1rem 0;
    font-weight: 300;
  }
  .section-content p {
    font-family: var(--font-text);
    color: var(--color-text);
    font-size: 1.4rem;
    opacity: 0.7;
  }

  @media (width < 1200px) {
    .skill-section {
      width: 100%;
    }
  }
  @media (width < 800px) {
    .skill-section {
      flex-direction: column;
      gap: 1rem;
    }
    .bar-column {
      height: 1px;
      width: 100%;
      margin: 0 auto;
    }
    .section-content {
      max-width: 100%;
      margin: 1rem 0;
      
      & p {
        font-size: 1.4rem;
      }
    }
  }
</style>
