---
import "../styles/global.css";
---

<article class="article-container">
  <h2>About Me</h2>
  <p>
    Hello, I’m Miguel Páez, a technology enthusiast. This blog was born with the
    intention of sharing my thoughts, ideas, and especially my personal
    experiences: life events, comments, and reflections of all kinds. I’m here,
    after much procrastination, frustrations and failed attempts, diving into
    what has been, so far, my unfulfilled dream: becoming a programmer. My posts
    are casual and straightforward, but I always try to offer a personal
    perspective (maybe not the absolute truth, but an honest one) on the topics
    that interest me. I like to keep a friendly and approachable tone, because I
    firmly believe that knowledge and fun can go hand in hand.
  </p>
</article>
<style>
  .article-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1.2rem 1.3rem;
    width: var(--width-container);
    max-width: 1200px;
    margin: 8rem auto 4rem auto;

    & h2 {
      font-family: var(--font-title);
      font-size: 2.5rem;
      line-height: 1;
      margin: 0;
      font-weight: 300;
      width: 20%;
    }

    & p {
      font-size: 1.4rem;
      font-family: var(--font-text);
      line-height: 1.5;
      width: 80%;
    }
  }
  @media (width < 1200px) {
    .article-container {
      width: 100%;
    }
  }
  @media (width < 800px) {
    .article-container {
      flex-direction: column;

      & h2 {
        width: 100%;
        text-align: center;
      }
      & p {
        width: 100%;
        font-size: 1.2rem;
      }
    }
  }
</style>
