---
import "../styles/global.css";

const posts = Object.values(import.meta.glob("../pages/post/*.md", { eager: true }));
---

<section class="blog-container">

  {posts.map((post) => (
    <div class="box-blog">
      <a href={post.url}>
        <div class="link-container">
          <div class="div-svg">

          </div>
          <h3 class="title">{post.frontmatter.title}</h3>
          <p class="text">{post.frontmatter.description}</p>
        </div>
      </a>
    </div>
  ))}
</section>

<style>
  .blog-container {
    width: var(--width-container);
    max-width: 1200px;
    margin: 8rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1.2rem 1.3rem;
  }

  .box-blog a {
    text-decoration: none;
    color: var(--color-text);
    display: block;
  }

  .link-container {
    padding: 1.5rem;
    transition: transform 0.2s ease;
  }

  .box-blog {
    background-color: var(--color-bgsecondary);
    border-radius: 1rem;
    min-width: 200px;
    flex: 1 1 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    & .title,
    & .text {
      padding: 0.5rem 0;
      margin: 0;
      transition: color 0.2s ease;
    }

    &:hover .title,
    &:hover .text {
      color: var(--color-primary);
    }

    .title {
      font-size: 2.1rem;
      font-weight: 600;
      font-family: var(--font-title);
      line-height: 1.2;
    }

    .text {
      font-size: 1.4rem;
      font-family: var(--font-text);
      color: var(--color-text-muted);
    }
  }

  .div-svg {
    text-align: center;
    margin-bottom: 1rem;
    
    svg {
      width: 40px;
      height: 40px;
      
    }
  }

  @media (width < 768px) {
    .blog-container {
      grid-template-columns: 1fr;
      max-width: 500px;
    }
  }
</style>
