---
import "../styles/global.css";
---

<section class="section-container">
  <div class="section-content">
    <h2>Frotend Development</h2>
    <p>
      Clean, modular, and speed-optimized code. Expert in HTML, CSS, JavaScript
      and responsive design for a flawless experience on any device.
    </p>
  </div>
  <div class="bar-column"></div>
  <div class="section-content">
    <h2>Python</h2>
    <p>
      Knowledge of Python, experience with the pandas library, automation, and
      web scraping.
    </p>
  </div>
  <div class="bar-column"></div>
  <div class="section-content">
    <h2>Libraries</h2>
    <p>
      Beginner in using libraries such as React, to create dynamic and
      responsive user interfaces.
    </p>
  </div>
</section>

<style>
  .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 1.3rem;
    width: var(--width-container);
    max-width: 1200px;
    margin: 0 auto;
    gap: 4rem;
  }
  .bar-column {
    width: 1px;
    background-color: var(--color-primary);
    height: 110px;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30%;
  }
  .section-content h2 {
    font-family: "BebasNeue", sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    font-weight: 300;
  }
  .section-content p {
    font-family: "Instrument Serif", sans-serif;
    font-size: 1.4rem;
    opacity: 0.7;
  }
</style>
