---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<header>
			<Navbar />
		</header>
		<main>

			<slot />
		</main>
		<footer>
			<Footer />
		</footer>

	</body>
</html>

<style>
	html {
		overflow: scroll;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		background-color: var(--color-bg);
	}
</style>
